@{
    ViewBag.Title = "AboutMe";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h2>Bio</h2>
            <p>
                My Name is Bruce Mabasa,I`m a second year student in the University of Pretoria, Studying (BIS) information Science.
                From an early age I’ve always been deeply interested in computing, I can always remember the feeling of wanting to know just how computers worked, why they worked and
                what else they could do.
                I have  developed programming skills  over the past two years an experience I will treasure for the rest of my life.
            </p>
        </div>
        <div class="col-md-4">
          
        </div>
    </div>
                
            
        
 </div>
