@model IEnumerable<u20686154_HW3.Models.FileModel>

@{
    ViewBag.Title = "Index";
}

<h2>Documents</h2>


<table class="table table-striped">
    <tr>
        <th style="width:50%">
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>Download Option</th>
        <th>Delete Option </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FileName)
    </td>
    <td>
        <a class=" btn btn-success" href="@Url.Action("DownloadFile",new { fileName = item.FileName })">Download</a>     
    </td>
    <td>
        
        <a class=" btn btn-danger" href="@Url.Action("DeleteFile",new { fileName = item.FileName })">Delete</a>
    </td>
</tr>
}

</table>
